@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Akaya Telivigala";
  src: url("./fonts/akaya-telivigala-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root,
html,
body {
  @apply h-full w-full bg-[#070815];
}

:root,
[data-theme] {
  background: oklch(var(--b2));
  @apply h-full w-full;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.akaya-font {
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}

.radial-bg {
  background: rgb(56, 89, 144);
  background: radial-gradient(circle, rgba(56, 89, 144, 0.704860826166404) 0%, rgba(252, 70, 107, 0) 41%);
}
